In [2]:
from geopy.geocoders import Nominatim

In [3]:
geolocator = Nominatim(user_agent = 'test')

In [9]:
geolocator.geocode({"postalcode":"M5B 2K3"})

Location(Toronto Centre, Old Toronto, Toronto, Golden Horseshoe, Ontario, M5B 2K3, Canada, (43.659068719034245, -79.38098386131371, 0.0))

In [11]:
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
    g = geocoder.arcgis('{}, Toronto, Ontario'.format("M5G"))
    lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

In [12]:
latitude, longitude

(43.65609000000006, -79.38492999999994)

In [13]:
# Import pandas package  
import pandas as pd 
  
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
  
# Define a dictionary with key values of 
# an existing column and their respective 
# value pairs as the # values for our new column. 
address = {'Delhi': 'Jai', 'Bangalore': 'Princi', 
           'Patna': 'Gaurav', 'Chennai': 'Anuj'} 
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
  
# Provide 'Address' as the column name 
df['Address'] = address 
  
# Observe the output 
df

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc      Patna
3    Anuj     5.2           Msc    Chennai

In [14]:
l = [('a', '1b',23),
     ('b', '2c', 34),
    ('c','3d', 45)]

In [15]:
import pandas as pd

In [19]:
for t in l:
    for item in t: 
        print(item)

a
1b
23
b
2c
34
c
3d
45

In [20]:
f = [item for t in l for item in t]

In [21]:
f

['a', '1b', 23, 'b', '2c', 34, 'c', '3d', 45]

In [22]:
pd.DataFrame(f)

    0
0   a
1  1b
2  23
3   b
4  2c
5  34
6   c
7  3d
8  45